# OS
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Data / model artifacts
data/
*.npy
*.pkl

# LaTeX build artifacts
Write up/*.aux
Write up/*.bbl
Write up/*.bcf
Write up/*.blg
Write up/*.fdb_latexmk
Write up/*.fls
Write up/*.lof
Write up/*.log
Write up/*.lot
Write up/*.out
Write up/*.run.xml
Write up/*.synctex.gz
Write up/*.toc
Write up/*.zip
Write up/old.tex
